@model IEnumerable<ScienceAndCiao.Data.MembershipType>
    @using ScienceAndCiao.Services
@{
    ViewBag.Title = "Index";
}

<h3>Membership Types</h3>
<br />
<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignUpFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyMembershipFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SixMonthMemberShipFee)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SignUpFee)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MonthlyMembershipFee)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SixMonthMemberShipFee)
    </td>
    <td>
        @Html.Partial("_TableButtonPartial", new IndivButtonPartial { MembershipTypeId = item.Id })
    </td>
</tr>}

</table>
